<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Welcome, {{ request.user.user_name }}. Thanks for logging in.</p>
    <a href="{% url 'logout_user' %}" >Log Out</a>
    {% else %}
    <p>Welcome, new user. Please log in.</p>
    <a href="{% url 'login_user' %}" >Log In</a>
    {% endif %}

    
</body>
</html>